
body{
background-color: white;

}

table{
width: auto;
background-color: #fff;
border-radius: 10px;
box-shadow: 0px 10px 30px 6px rgba(0, 0, 0, 0.16);
margin: auto;
border-right-color: aqua;
}

th{
    text-align: left;
    background-color: aquamarine;
    font-family: "Lucida Console", "Courier New", monospace;
    border-bottom: 1px dashed grey;
}


th,td{
    padding: 10px;
}

td{
height: 70px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
letter-spacing: 0.6px;
font-size: 0.9em;
min-width: 160px;
border-bottom: 2px solid aquamarine;
}

tr:nth-of-type(even){
  background-color: #f3f3f3;  
}

header{
display: flex;
justify-content: center;
align-items: center;
min-height: 10vh;
position: relative;
font-size: 2vw;
font-weight: bolder;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
color: rgb(26, 75, 167);
letter-spacing: 6px;
}

